* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}
::root {
  font-size: clamp(1rem, -1rem + 5.3333vw, 3rem);
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  // display: none;
}
a {
  text-decoration: none;
  color: inherit;
}


@mixin leaf-position($width :10% ,$top:5%, $left:5% ,$right:5%,$zindex:1 ) {
      width: $width;
      object-fit: cover;
      position: absolute;
      top: $top;
      left: $left;
      z-index: $zindex;
      right: $right;
}
#main {
  width: 100%;
  height: 100vh;

  #nav {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    // background-color: #FB6106;
    background: transparent;
    position: fixed;
    z-index: 3;
    img {
      width: 10%;
      object-fit: cover;
      cursor: pointer;
    }

    #link-item {
      margin-right: 1.5rem;
      font-size: 1.4rem;
      color: white;
      font-weight: 500;
      letter-spacing: 0.255rem;
      a {
        margin-right: 1.2rem;
      }
    }
  }

  // section One
  #hero-section {
    width: 100%;
    height: 100%;
    background: #bd4703;
    //    background: linear-gradient(180deg,rgba(251, 97, 6, 1) 0%, rgb(234, 139, 43) 100%);
    display: flex;
    #orange {
        @include leaf-position(15%,68% ,40% , 0%, 1);
    
    }

    #leaf1 {
    
        @include leaf-position(20%,20% ,10% , 0%, 2);
    }

    #leaf2 {
    
        @include leaf-position(50%,-30% ,20 , 0%, 0);
      
    }

    #leaf3  {
        @include leaf-position(25%,49% ,18% , 0,1 );
    }

    #leaf4 {
        @include leaf-position(20%,5% ,48% , 0,1 );
        transform: rotate(280deg);
    }

    #leaf5 {
        @include leaf-position(16%,68% ,50% , 0,1 );
                 transform: rotate(-60deg);
    }
    #cocoleaf {
        @include leaf-position(30%,5% ,-5% , 0,1 );
              transform: rotateY(180deg);  
    }
    .left,
    .right {
      width: 50%;
      height: 100%;
    }

    .left {
      img {
        width: 65%;
        transform: translateY(28%) translateX(85%) ;
      }
    }

    .right {
      color: white;
      z-index: 4;
      padding: 4rem;
      .text {
        margin-top: 8.9rem;
        h1 {
          font-size: 4.9rem;
          margin-bottom: -1.1rem;
          letter-spacing: 0.452rem;
        }
        h2 {
          font-size: 3rem;
          font-weight: 400;
          margin-bottom: -0.55rem;
          letter-spacing: 0.252rem;
        }
        h3 {
          font-size: 2.2rem;
          font-weight: 400;
          margin-bottom: 1.1rem;
          letter-spacing: 0.252rem;
        }

        button {
          padding: 1vw 5vh;
          font-size: 1.5vw;
          border-radius: 5rem;
          border: none;
          margin: 3vh 12vw;
        }
      }
    }
  }

  #two {
     width: 100%;
     height: 100%;
     background-color: rgb(120, 53, 6);
    display: flex;
   

     .two-left,.two-right {
       width: 50%;
       height: 100%;
    }
     
    .two-left {
       svg {
          width: 45%;
          transform:rotateX(60deg) translateY(200%) translateX(40%);
       }
    }

    .two-right {
      color: white;
      z-index: 4;
      padding: 4rem;
      .text {
        margin-top: 8.9rem;
        h1 {
          font-size: 4.9rem;
          margin-bottom: -1.1rem;
          letter-spacing: 0.452rem;
        }
        h2 {
          font-size: 3rem;
          font-weight: 400;
          margin-bottom: -0.55rem;
          letter-spacing: 0.252rem;
        }
        h3 {
          font-size: 2.2rem;
          font-weight: 400;
          margin-bottom: 1.1rem;
          letter-spacing: 0.252rem;
        }

        button {
          padding: 1vw 5vh;
          font-size: 1.5vw;
          border-radius: 5rem;
          border: none;
          margin: 3vh 12vw;
        }
      }
    }

    
  }


  #three {
    width: 100%;
    height: 100%;
    background-color: #bd382f;
    display: flex;
    gap: 100px;
    padding: 5rem;
    justify-content: center;
    align-items: flex-end;
    .card {
      width: 20%;
      height: 70%;
      background-color: rgb(210, 206, 206);
      border-radius: 20px;
      display: flex;
      align-items: flex-end;

      .box{
        width: 100%;
        // background-color: #bd4703;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
         h1 {
            font-size: 2.8rem;
            font-weight: 500;
           
         }

         button {
            padding: 1rem 2rem;
            font-size: 0.852rem;
            font-weight: 600;
            border:none;
            border-radius: 2rem;
         }
      }
    }
  
    #pepsi {
        width: 19%;
        position: absolute;
        transform: translateX(-125%) translateY(-24%);
    }

     #cocacola{
      width: 24%;
      position: absolute;
      transform: translateY(-13%) translateX(96%);
      
     }
  }
} 
